/*
    colors used
    #201c25/rgb(32,28,37)  > grey-black
    #9a776f/rgb(154,119,111)  > brown
*/


/*General styles*/

body {
    background: rgb(32, 28, 37);
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: rgb(154, 119, 111);
}
a:hover {
    color: #fff;
}
p,
li {
    color: #fff;
}
section {}

/*Nav*/

.cd-stretchy-nav {
    position: fixed;
    z-index: 2;
    top: 40px;
    right: 5%;
}
.cd-stretchy-nav .stretchy-nav-bg {
    /*Nav bg*/
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #9a776f;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

/*nav list items*/

.cd-strtchy-nav ul {
    position: relative;
    z-index: 2;
    visibility: hidden;
    transition: visibility 0.3s;
}
.cd-stretchy-nav ul a {
    position: relative;
}
.cd-stretchy-nav ul a::after {
    /*nav list icons*/
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    transform: translateY(-50%) scale(0);
    opacity: .6;
    background: url(../img/img/cd-sprite-1.svg);
}
.cd-stretchy-nav ul span {
    /*    Nav labels*/
    display: block;
    opacity: 0;
    transform: translateX(-25px);
}

/*home*/

#home {
    height: 100vh;
    width: 100vw;
}
#home img {
    margin-left: 20%;
    margin-top: 14%;
}
