/*
    colors used
    #201c25/rgb(32,28,37)  > grey-black
    #9a776f/rgb(154,119,111)  > brown
*/


/*General styles*/

body {
    background: rgb(32, 28, 37);
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: rgb(154, 119, 111);
}
a:hover {
    color: #fff;
}
p,
li {
    color: #fff;
}
ul {
    list-style: none;
}
hr {
    border-color: rgb(154, 119, 111);
}
section {
    width: 100vw;
    overflow: hidden;
}

/*Nav*/

.cd-nav-trigger {
    /*    menu nav*/
    border: 2px solid #9a776f;
    padding: 10px;
}
.cd-stretchy-nav {
    position: fixed;
    z-index: 2;
    top: 40px;
    right: 5%;
}
.cd-stretchy-nav .stretchy-nav-bg {
    /*Nav bg*/
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 80px;
    height: 0px;
    transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
}

/*nav list items*/

.cd-stretchy-nav ul {
    position: relative;
    z-index: 2;
    visibility: hidden;
    transition: visibility 0.3s;
}
.cd-stretchy-nav ul a {
    position: relative;
}
.cd-stretchy-nav ul a::after {
    /*nav list icons*/
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    transform: translateY(-50%) scale(0);
    opacity: .6;
}
.cd-stretchy-nav ul span {
    /*    Nav labels*/
    display: block;
    opacity: 0;
    transform: translateX(-25px);
}
.cd-stretchy-nav.nav-is-visible ul {
    visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
    /*    nav icons*/
    transform: translateY(-50%) scale(1);
    animation: scaleIn 0.15s backwards;
}
.cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    transform: translateX(0);
    animation: slideIn 0.15s backwards;
    color: #fff;
}
.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
    animation-delay: .05s;
}

/*Animations*/

@keyframes scaleIn {
    from {
        transform: translateY(-50%) scale(0);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-25px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*home*/

#home img {
    padding-top: 10%;
}

/*Works*/

.under-img,
.over-txt {
    height: 400px;
}
.under-img {
    position: relative;
    width: 100%;
}
.over-txt {
    position: absolute;
    padding: 10%;
    opacity: 0;
}
.over-txt:hover {
    background: rgba(154, 119, 111, 0.4);
    opacity: 1;
}

/*services*/

#services div:hover {
    animation: bord 1s forwards ease-in;
}
@keyframes bord {
    0% {
        border-top: 2px solid #9a776f;
    }
    25% {
        border-right: 2px solid #9a776f;
    }
    50% {
        border-bottom: 2px solid #9a776f;
    }
    75% {
        border-left: 2px solid #9a776f;
    }
    100% {
        border: 4px solid #9a776f;
    }
}
